.card-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.card-container-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-container-title {
    cursor: pointer;
}

.card-container-title-position-left {
    font-size: 1.7rem;
    text-align: left;
}

.card-container-title-position-center {
    text-align: center;
    font-size: 2rem;
}