.checkout-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    & .checkout-container {
        width: 55%;
        margin: 1rem 0;

        @media screen and (max-width: 1000px) {
            width: 70%;
        }

        @media screen and (max-width: 800px) {
            width: 80%;
        }

        @media screen and (max-width: 600px) {
            width: 90%;
        }
    
        & .checkout-header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-bottom: 1px solid darkgrey;
            margin: 1rem 0;
            padding: 1rem 0;

            & .header-block {
                text-align: center;
                width: 20%;
            }
        }
    
        & .total {
            font-size: 2rem;
            margin-top: 1rem;
            text-align: right;
        }
    }
}