.authentication-container {
  border: 1px solid black;
  display: flex;
  max-width: 75%;
  justify-content: space-between;
  margin: 2rem auto;
  row-gap: 2rem;

  @media screen and (max-width: 800px) {
    max-width: 90%;
    flex-direction: column;
  }
}
